{{ 'section-my-feature.css' | asset_url | stylesheet_tag }}

<div id="MyFeature-{{ section.id }}" class="my-feature page-width">
  <h1 class="my-feature__title">{{ section.settings.title }}</h1>
  <h2 class="my-feature__subTitle">{{ section.settings.title }}</h2>
</div>

{% schema %}
{
  "name": "My Feature",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subTitle",
      "label": "副标题"
    }
  ]
}
{% endschema %}
