{{ 'section-my-feature.css' | asset_url | stylesheet_tag }}


<div class="my-feature"></div>


{% style %}
  .my-page-current {
    color: red;
    font-size: 2rem;
  }
{% endstyle %}

{% schema %}
  {
    "name": "My Feature",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subTitle",
        "label": "副标题"
      },
      {
        "type": "checkbox",
        "id": "accordion_mode",
        "label": "手风琴模式（同时只展开一项）",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "open_first_item",
        "label": "默认展开第一项",
        "default": true
      },
      {
        "type": "range",
        "id": "post_limit",
        "min": 1,
        "max": 12,
        "step": 1,
        "default": 6,
        "label": "显示文章数量"
      }
    ],
    "blocks": [
      {
        "type": "accordion_item",
        "name": "折叠项",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "标题",
            "default": "折叠面板"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "内容",
            "default": "<p>这里是折叠内容，可在主题编辑器中修改。</p>"
          },
          {
            "type": "checkbox",
            "id": "default_open",
            "label": "默认展开",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "My Feature"
      }
    ]
  }
{% endschema %}
