<div class="my-test-page-1">
  {{ 1111 }}
</div>

<style></style>

{% schema %}
  {
    "name": "My Test Page 1",
    "settings": [],
    "presets": [
      {
        "name": "My Test Page 1"
      }
    ]
  }
{% endschema %}