.my-feature {
  padding: 2rem 0;
}

.my-feature__title {
  margin: 0;
  color: aqua;
  font-size: 2rem;
  text-align: center;
}

.my-feature__subTitle {
  margin: 0;
  color: aqua;
  font-size: 1.5rem;
  text-align: left;
}
